@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Details";
}

<section>
    <hr />
    <h2 style="padding-top:3em; color: white">@ViewBag.Title</h2>
    <hr />

    <div>

        <dl class="d-lg-table">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>
    <br />
    <h4>List of users in this role</h4>
    @if (ViewBag.UserCount == 0)
    {

        <p>No users found in this role.</p>
    }

    <table class="table" style="color:white;">

        @foreach (var item in ViewBag.Users)
        {
            <tr>
                <td >
                    @item.UserName
                </td>
            </tr>
        }
    </table>
    <br />
    <p class="btn btn-black">
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @:|
        }
        @Html.ActionLink("Back to List", "Index")
    </p>
    <br />
    <br />
    <br />
</section>



