@model FInalProject.DATA.EF.CourseCompletion

@{
    ViewBag.Title = "Delete";
}

<section>
    <hr />
    <h2 style="padding-top:3em;">@ViewBag.Title</h2>
    <hr />
    <div>

        <dl class="d-lg-table">
            <dt>
                Date Completed
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateCompleted)
            </dd>

            <dt>
                Course
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Course.CourseName)
            </dd>

            <dt>
               First Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserDetail.FirstName)
            </dd>

        </dl>
        <br/>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input style="color:#e5b929" type="submit" value="Delete" class="btn btn-black" /> |
                <div class="btn btn-black"> @Html.ActionLink("Back to List", "Index")</div>
            </div>
        }
        <br />
        <br />
    </div>
    </section>
