@model FInalProject.DATA.EF.CourseCompletion

@{
    ViewBag.Title = "Details";
}

<section>
    <br />
    <h2 style="padding-top:3em; color: white">@ViewBag.Title</h2>
    <br />

    <div>

        <dl class="d-lg-table">
            <dt>
                @Html.DisplayNameFor(model => model.DateCompleted)<br />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateCompleted)<br />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Course.CourseName)<br />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Course.CourseName)<br />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserDetail.FirstName)<br />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserDetail.FirstName)<br />
            </dd>

        </dl>
    </div>
    <br />
    <p class="btn btn-black">
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.CourseCompletionId }) @: |
        }
        @Html.ActionLink("Back to List", "Index")
    </p>
    <br/>
    <br/>
</section>
