@model IEnumerable<FInalProject.DATA.EF.CourseCompletion>

@{
    ViewBag.Title = "Courses Completed";
}

<section>
    <br />
    <h2 style="padding-top:3em; color: white">@ViewBag.Title</h2>

    <br />
    <br />
    <div class="container">
        <div class="container-fluid">
            <table class="table display">
                <thead>
                    <tr>
                        <th>
                            Date Completed
                        </th>
                        <th>
                            Course
                        </th>
                        <th>
                            First Name
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCompleted)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Course.CourseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserDetail.FirstName)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { id = item.CourseCompletionId })
                                @if (User.IsInRole("Admin"))
                                {

                                    @:| @Html.ActionLink("Edit", "Edit", new { id = item.CourseCompletionId })
                                    @:| @Html.ActionLink("Delete", "Delete", new { id = item.CourseCompletionId })
                                  }

                            </td>


                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
    <br />

    @if (User.IsInRole("Admin"))
    {
        <div class="btn btn-black">
            @Html.ActionLink("Create New", "Create")
        </div>
    }

    <br />
    <br />
    <br />
</section>
@section scripts{

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
