@model FInalProject.DATA.EF.LessonView

@{
    ViewBag.Title = "Details";
}

<section>
    <hr />
    <h2 style="padding-top:3em; color: white">@ViewBag.Title</h2>
    <hr />

    <div>

        <dl class="d-lg-table">
            <dt>
                @Html.DisplayNameFor(model => model.DateViewed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateViewed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Lesson.LessonTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lesson.LessonTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserDetail.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserDetail.FirstName)
            </dd>

        </dl>
    </div>
    <br />
    <p class="btn btn-black">
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.LessonViewId }) @:|
        }
        @Html.ActionLink("Back to List", "Index")
    </p>
    <br />
    <br />
    <br />

</section>
