@model IEnumerable<FInalProject.DATA.EF.LessonView>

@{
    ViewBag.Title = "Lessons Viewed";
}

<section>
    <h2 style="padding-top:3em; color: white">@ViewBag.Title</h2>


    <div class="container-fluid" style="padding-left:5em">
        <table class="table display">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DateViewed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Lesson.LessonTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserDetail.FirstName)
                    </th>
                    @if (User.IsInRole("Admin"))
                    {
                        <th></th>
                    }
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateViewed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lesson.LessonTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserDetail.FirstName)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.LessonViewId })

                            @if (User.IsInRole("Admin"))
                            {

                               @:| @Html.ActionLink("Edit", "Edit", new { id = item.LessonViewId })

                               @:| @Html.ActionLink("Delete", "Delete", new { id = item.LessonViewId })


                            }
                        </td>

                    </tr>
                }
            </tbody>

        </table>
    </div>
    <br />
    <div class="btn btn-black">
        @if (User.IsInRole("Admin"))
        {
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        }
    </div>
    <br />
    <br />
</section>
@section scripts{

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
