@model FinalProject.UI.MVC.Models.ContactViewModel
@{
    ViewBag.Title = "Contact";
}


<div id="contactwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h1 style="color:#e46542" id="contactMeHeader">Contact Us</h1>
                <!--<h1>CONTACT US</h1>-->
            </div>
        </div>
    </div>
    <!-- /container -->
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="ContactUs" class="form-horizontal" style="color:#e46542">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-sm-1" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-sm-1" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-sm-1" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-sm-1" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>


    </div>
    <div class="form-horizontal" id="button">
        <div class="form-group">
            <div class="col-md-offset-5 col-md-10">
                <input style="color:#e46542; font-weight:bolder" type="submit" value="Send" class="btn-lg" />
            </div>
        </div>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}