@model FInalProject.DATA.EF.Lesson

@{
    ViewBag.Title = "Delete";
}

<section>
    <hr />
    <h2 style="padding-top:3em;">@ViewBag.Title</h2>
    <hr />
    <div>

        <dl class="d-lg-table">
            <dt>
                Lesson
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LessonTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Introduction)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Introduction)
            </dd>

            <dt>
                Video
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VideoURL)
            </dd>

            <dt>
               PDF
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PdfFileName)
            </dd>

            <dt>
                Is Active
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

            <dt>Course
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Course.CourseName)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input style="color:#e5b929" type="submit" value="Delete" class="btn btn-black" /> |
                <div class="btn btn-black"> @Html.ActionLink("Back to List", "Index")</div>
            </div>
        }
        <br />
        <br />
    </div>
    </section>
