@model IEnumerable<FInalProject.DATA.EF.Lesson>

@{
    ViewBag.Title = "Lessons";
}

<section>
    <h2 style="padding-top:3em;">@ViewBag.Title</h2>


    <div class="container" style="padding-top:3em; ">
        <table class="table display" style="padding-top:2em;">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LessonTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Introduction)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.VideoURL)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PdfFileName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Course.CourseName)
                    </th>
                    @if (User.IsInRole("Admin"))
                    {
                        <th></th>
                    }
                    <th></th>

                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LessonTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Introduction)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.VideoURL)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PdfFileName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.CourseName)
                        </td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.LessonId })

                                @Html.ActionLink("Delete", "Delete", new { id = item.LessonId })

                            </td>

                        }
                        <td>@Html.ActionLink("Details", "Details", new { id = item.LessonId })  </td>

                    </tr>
                }
            </tbody>

        </table>
    </div>

    <div class="btn btn-primary">
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Create New", "Create")
        }

    </div>
</section>
@section scripts{

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}