@model FInalProject.DATA.EF.UserDetail

@{
    ViewBag.Title = "Delete";
}

<section>
    <h2 style="padding-top:3em;">@ViewBag.Title</h2>
    <div>

        <dl class="d-lg-table">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input style="color:#e5b929" type="submit" value="Delete" class="btn btn-black" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
        }
    </div>
    </section>
