@model FInalProject.DATA.EF.UserDetail

@{
    ViewBag.Title = "Delete";
}

<section>
    <hr />
    <h2 style="padding-top:3em;">@ViewBag.Title</h2>
    <br />
    <br />
    <div>

        <dl class="d-lg-table">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)<br />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)<br />
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.LastName)<br />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)<br />
            </dd>

        </dl>
        <br />
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input style="color:#e5b929" type="submit" value="Delete" class="btn btn-black" /> |
                <div class="btn btn-black"> @Html.ActionLink("Back to List", "Index")</div>
            </div>
        }
        <br />
        <br />


    </div>
</section>
