@model IEnumerable<FInalProject.DATA.EF.UserDetail>

@{
    ViewBag.Title = "User Details";
}


<section>
    <h2 style="padding-top:3em; color: white">@ViewBag.Title</h2>


    <div class="container-fluid">
        <table class="table display">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>

                    <th></th>


                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>

                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.UserId })

                            @if (User.IsInRole("Admin"))
                            {

                                @:| @Html.ActionLink("Edit", "Edit", new { id = item.UserId })




                                @:| @Html.ActionLink("Delete", "Delete", new { id = item.UserId })


                            }

                        </td>

                    </tr>
                }
            </tbody>

        </table>
    </div>
    <div class="btn btn-black">
        @if (User.IsInRole("Admin"))
        {
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        }
    </div>
</section>
@section scripts{

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}

