@model FinalProject.UI.MVC.Models.ApplicationUser

@{
    ViewBag.Title = "Delete";
}

<section>
    <br />

    <h2 style="padding-top:3em;">@ViewBag.Title</h2>
    <br />
    <br />

    <div>

        <dl class="d-lg-table">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
        </dl>
        <br />
        <br />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input style="color:#e5b929" type="submit" value="Delete" class="btn btn-black" /> |
                <div class="btn btn-black"> @Html.ActionLink("Back to List", "Index")</div>
            </div>
        }
        <br />
        <br />
        <br />
        <br/>
        

    </div>
</section>