@model FinalProject.UI.MVC.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<section>
    <br />
    <h2 style="padding-top:3em; color: white">@ViewBag.Title</h2>
    <br />
    <br />

    <div>

        <dl class="d-lg-table">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
        </dl>
    </div>
    <br />
    <h4>List of roles for this user</h4>
    @if (ViewBag.RoleNames.Count == 0)
    {
        <br />
        <p>No roles found for this user.</p>
    }

    <table class="table" style="color:white;">

        @foreach (var item in ViewBag.RoleNames)
        {
            <tr>
                <td>
                    @item
                </td>
            </tr>
        }
    </table>
    <br />
    <p class="btn btn-black">
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @:|
        }
        @Html.ActionLink("Back to List", "Index")
    </p>
    <br />
    <br />
</section>


