@model IEnumerable<FinalProject.UI.MVC.Models.ApplicationUser>

@{
    ViewBag.Title = " Users";
}

<section>
    <h2 style="padding-top:3em; color: white">@ViewBag.Title</h2>

    <div class="container">
        <div class="container-fluid">
            <table class="table display">
                <thead>
                    <tr>
                        <th>
                            User
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
    <br />
    <div class="btn btn-black">
        @if (User.IsInRole("Admin"))
        {
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        }
    </div>
    <br />
    <br />
</section>
@section scripts{

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}