@model FinalProject.UI.MVC.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<section>
    <h2 style="padding-top:3em;">@ViewBag.Title</h2>
    <hr />
    <hr />
    <div style="color:white; font:bolder">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Enter your email.</h4>
            <hr />
            <hr />

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <hr />
            <hr />
            <hr />

            <div class="col-md-offset-2 col-md-10">
                <input style="color:#e5b929" type="submit" class="btn btn-black" value="Email Link" />
            </div>
            <hr />
            <hr />

        }
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
