@model FInalProject.DATA.EF.Course

@{
    ViewBag.Title = "Details";
}

<section>
    <hr />
    <h2 style="padding-top:3em; color: white">@ViewBag.Title</h2>
    <hr />

    <div>
        
        <hr />
        <dl class="d-lg-table">
            <dt>
                @Html.DisplayNameFor(model => model.CourseName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

        </dl>
    </div>
    <br />
    <p class="btn btn-black">
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.CourseId }) @:|
        }
        @Html.ActionLink("Back to List", "Index")
    </p>
    <br />
    <br />
</section>
