@model FInalProject.DATA.EF.Course

@{
    ViewBag.Title = "Details";
}

<section>
    <hr />
    <h2 style="padding-top:3em; color: white">@ViewBag.Title</h2>
    <hr />

    <div>

        <hr />
        <dl class="d-lg-table">
            <dt>
                Course Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseName)
            </dd>

            <dt>
                Description
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseDescription)
            </dd>

            <dt>
                Is Active
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

        </dl>
    </div>
    <br />
    <p class="btn btn-black">
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.CourseId }) @:|
        }
        @Html.ActionLink("Back to Courses", "Index")
        
    </p>
  
    <div class="btn btn-black"><a href="@Url.Action("Index", "Lessons")">Go to Lessons</a></div>

    <br />
    <br/>
    <br />
</section>
