@model IEnumerable<FInalProject.DATA.EF.Course>

@{
    ViewBag.Title = "Courses";
}

<section>
    <h2 style="padding-top:3em;">@ViewBag.Title</h2>


    <div class="container">
        <div class="container-fluid">
            <table class="table display">
                <thead>
                    <tr>
                        <th>
                            Course
                        </th>
                        <th>
                            Description
                        </th>
                        
                        @if (User.IsInRole("Admin"))
                        {
                            <th></th>
                        }
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseDescription)
                            </td>

                            @if (User.IsInRole("Admin"))
                            {
                                <td></td>
                            }

                            <td>
                                @Html.ActionLink("Details", "Details", new { id = item.CourseId })

                                @if (User.IsInRole("Admin"))
                                {

                                    @:| @Html.ActionLink("Edit", "Edit", new { id = item.CourseId })




                                    @:| @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })


                                }
                            </td>


                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>


    @if (User.IsInRole("Admin"))
    {
        <div class="btn btn-black">
            @Html.ActionLink("Create New", "Create")
        </div>   
    }

</section>

@section scripts{

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}


