@model IEnumerable<FInalProject.DATA.EF.Course>

@{
    ViewBag.Title = "Courses";
}

<section>
    <h2 style="padding-top:3em;">@ViewBag.Title</h2>


    <div class="container" style="padding-top:3em; ">
        <table class="table display" style="padding-top:2em;">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CourseName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CourseDescription)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>*@
                    @if (User.IsInRole("Admin"))
                    {
                        <th></th>
                    }
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseDescription)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>*@


                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.CourseId })

                                @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })

                            </td>
                        }
                        <td>@Html.ActionLink("Details", "Details", new { id = item.CourseId }) </td>



                    </tr>
                }
            </tbody>

        </table>
    </div>

    <div class="container">
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Create New", "Create")
        }
    </div>
</section>

@section scripts{

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}


